#addcomp{
    background-color:#f2f0ea ;
    height: 100vh;
    font-weight: bold;
}
#icon{
    width: 60px;
    height: 60px;
    align-self: center;
}
#addhead{
    font-size: 20px;
}
#additembtn:hover{
    background-color: rgb(249, 222, 112);
}

.filters{
    color: darkgoldenrod;
    border: none;
    font-size: 17px;
    width: 135px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right:20px;
    font-weight: bold;
    outline: 0px;
}
#Category-filter{
    width: 160px;
}
#clearfilters{
    margin-right: 5px;
    border-radius: 12px;
    background-color: #e6b82e;
    font-weight: bold;
}
#clearfilters:hover{
    background-color: rgb(249, 222, 112);
}